{% extends 'blog/base.html' %}

{% block body %}

        <!-- 标题头 -->
    <header class="app-head">
        <div class="mo-container app-head__body">
            <a href="/" class="app-logo active">水墨寒的博客</a>
            <nav class="app-nav">
                <ul class="app-nav__main" id="app_nav">
                    <li class=""><a href="/">首页</a>
                    </li>
                    <li class="router-link-exact-active"><a href="/detail_list">文章</a>
                    </li>
                    <li class=""><a href="/message">留言</a>
                    </li>
                    <li class="active"><a href="/laboratory">实验室</a>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle">更多</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu__item"><a href="/links">前端导航</a></li>
                            <li class="dropdown-menu__item"><a href="/about">关于我</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <a class="app-nav__toggle"><i></i> <i></i> <i></i></a></div>
    </header>
    <!-- 标题头结束 -->

    
    
    <div class="app-main">
      <div class="app-viewport"><div class="projects">
        <!-- 导航栏下面一点开始 -->
        <aside class="mo-banner">
          <figure class="mo-banner-bg"><div class="mo-banner-bg_body">
            <div class="svg svg-block image1"></div> 
            <div class="svg svg-diamond image2"></div> 
            <div class="svg svg-leaf image3"></div> 
            <div class="svg svg-small-circle"></div> 
            <div class="svg svg-big-circle"></div> 
            <div class="svg svg-triangle image4"></div></div></figure> 
          <div class="mo-container"><h1 class="mo-banner__title"><i class="mo-icon-github"></i></h1> <p class="mo-banner__desc">这只猫害我好几年~</p></div></aside> 
        <!-- 导航栏下面一点结束 -->

        <!-- 主题实验室内容开始 -->
        <div class="mo-container">
          <div class="projects-items">
        
        <!-- 实验室文章开头 -->
        <section class="projects-item"><div class="projects-item__body">
          <a href="https://github.com/kaaokou/flask_news" class="projects-item__thumb img-flicker">
            <img src="/static/blog/img/lab_01.jpg" alt="Flask的强大之处">
          </a> 
          <h3 class="projects-item__title mo-text-overflow">Flask的强大之处</h3>
          <p class="projects-item__desc">主要列举一些在使用Flask的时候一些个人感想</p>
          <div class="projects-item__info">
            <span><i class="icon mo-icon-visible"></i> 6.66w</span>
            <span><i class="icon mo-icon-comment"></i> 66</span>
            <span><i class="icon mo-icon-heart"></i> 6</span>
            <span data-tipsy="开源项目" class="info mo-ui-tipsy mo-tipsy--top"><i class="icon mo-icon-github"></i></span>
          </div></div></section>
        <!-- 实验室文章结束 -->
            </div> 
             
        <!-- 加载提示 -->
        <div class="mo-page-more" style="display: none;"><button type="button" class="mo-page-more__btn loading"><span>加载中，请稍后...</span></button></div>
            
            
        </div></div></div></div> 
              
            
              
{% endblock body %}